# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [4]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
chipo.shape #will give you both (observations/rows, columns)

(4622, 5)

In [8]:
# Solution 2
chipo.shape[0] #will give you only the observations/rows number

4622

### Step 6. What is the number of columns in the dataset?

In [14]:
chipo.shape

(4622, 5)

### Step 7. Print the name of all the columns.

In [16]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [17]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [22]:
chipo.sum(axis=item_name, skipna=None, level=None, numeric_only=None, min_count=0)

NameError: name 'item_name' is not defined

### Step 10. For the most-ordered item, how many items were ordered?

In [24]:
chipo.item_name.mode()

0    Chicken Bowl
dtype: object

In [25]:
n = 10
chipo['item_name'].value_counts()[:n].index.tolist()

['Chicken Bowl',
 'Chicken Burrito',
 'Chips and Guacamole',
 'Steak Burrito',
 'Canned Soft Drink',
 'Steak Bowl',
 'Chips',
 'Bottled Water',
 'Chicken Soft Tacos',
 'Chips and Fresh Tomato Salsa']

### Step 11. What was the most ordered item in the choice_description column?

In [26]:
n = 10
chipo['choice_description'].value_counts()[:n].index.tolist()

['[Diet Coke]',
 '[Coke]',
 '[Sprite]',
 '[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]',
 '[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]',
 '[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]',
 '[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]',
 '[Lemonade]',
 '[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream, Lettuce]]',
 '[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]']

### Step 12. How many items were orderd in total?

In [27]:
chipo["quantity"].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [31]:
#chipo["item_price"].type()
chipo.dtypes['item_price']

dtype('O')

In [32]:
chipo['item_price'].apply(type)

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
4617    <class 'str'>
4618    <class 'str'>
4619    <class 'str'>
4620    <class 'str'>
4621    <class 'str'>
Name: item_price, Length: 4622, dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [95]:
def str_to_int(df):
    l = df.shape[0]
    print(l)
    res = pd.DataFrame(index=range(l))
    res["res"] = 0
    for i in range(l):
        #print(chipo.iloc[i].loc['item_price'][1:10])
        res["res"][i] = chipo.iloc[i].loc["item_price"][1:10]
    #res["res"] = res["res"].astype(int)
    res["res"] = pd.to_numeric(res["res"])
    return res

converted = str_to_int(chipo)

4622

#### Step 13.c. Apply using map

        res
0      2.39
1      3.39
2      3.39
3      2.39
4     16.98
...     ...
4617  11.75
4618  11.75
4619  11.25
4620   8.75
4621   8.75

[4622 rows x 1 columns]

### Step 14. How much was the revenue for the period in the dataset?

In [98]:
converted.sum()

res    34500.16
dtype: float64

### Step 15. How many orders were made in the period?

In [102]:
chipo['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [103]:
chipo['item_name'].nunique()

50